.aboutus_section{
    width: 100%;
    height: 100%;
    background-color: black;
    
    display: flex;
    flex-direction: column;
    padding: 0 70px;
}
.titleblock{
    display: flex;
    flex-direction: column;
    width: 934px;
}
.titleh4{
    color: #02C39D;
    font-size: 20px;
    font-weight: bold;
}
.titleh2{
    font-weight: 600;
    font-size: 60px;
    width: 934px;
}
.textblock{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 1000px;
    overflow: hidden;
}
.text{
    font-size: 30px;
}
.underlind{
    text-decoration: underline;
}
.bttn{
    display: block;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid white;
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding: 4px 10px;
    width: 190px;
    height: 45px;
    text-align: center;
}
.con{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
@media screen and (max-width: 1100px) {
    .aboutus_section{
        padding: 0 20px;
    }
    .titleblock{
        width: 100%;
    }
    .titleh2{
        font-size: calc(12px + 48 * (100vw / 1020));
        width: 100%;
    }
    .titleh2 span{
        font-size: calc(12px + 48 * (100vw / 1020));
    }
    .textblock{
        width: 100%;
    }
    .text{
        font-size: calc(12px + 18 * (100vw / 1020));
    }
    .invis{
        display: none;
    }
    .con{
        display: grid;
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 240px) {
    .bttn{
        width: 100%;
        font-size: calc(1px + 23 * (100vw / 240));
        height: 30px;
    }
}