.main_section{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;

}

.video_block{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;

    position: absolute;
    top: 0;
    left: 0;
}
.video{
    height: 100vh;
    margin: 0 auto;
    filter: brightness(0.3);
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.centralflex{
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    z-index: 3;
    /* overflow: hidden; */
    position: relative;
    text-align: center;
}
.centralflex h1{
    text-align: center;
    font-size:80px;
    padding-left: 3px;
}
.centralflex h1 span{
    text-align: center;
    font-size: 80px;
    padding: 0;
    margin: 0;
    color: white;
}
.centralflex span {
    font-size: 25px;
    color: #707070;
}
.initspan{
    /* padding-left: 95px; */
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    font-size: 25px;

}
@media screen and (max-width: 1000px) {
    .initspan{
        /* padding-left: 7%; */
        position: absolute;
        bottom: -5px;
    
    }
}
@media screen and (max-width: 850px) {
    .centralflex h1{
        font-size: calc(16px + 64 * (100vw / 1950));
    }
    .centralflex h1 span{
        font-size: calc(16px + 64 * (100vw / 1950));
    }
    .initspan{
        padding-left: 0px;
        text-align: center  ;
        position: relative;
        top:-5px;
        font-size: calc(9px + 16 * (100vw / 1950));
    }
    .centralflex span {
        font-size: 25px;
        color: #707070;
        font-size: calc(12px + 13 * (100vw / 1950));
    }
}