.news_section{
    height: 200px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
}

.bttn{
    border: 2px solid white;
    font-size: 25px;
    font-weight: bold;
    width: 350px;
    padding: 7px 10px;
    text-align: center;
    color: white;
    text-decoration: none;
    margin: 0 auto;
    cursor: pointer;
    z-index: 2;
    text-transform: uppercase;
    transition: 0.2s;
}
.bttn:hover{
    color: rgb(255, 228, 228);
    border: 2px solid rgb(255, 228, 228);
}