.services_section{
    width: 100%;
    background-color: black;
    padding-top: 200px;
    position: relative;
    overflow: hidden;
}
.title{
    color: #02C39D;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 40px;
    padding-left: 80px;
    z-index: 2;
}
.column{
    display: flex;
    flex-direction: column;
    
}
.service{
    width: 100%;
    height: 240px;
    background-color: rgba(255, 227, 227, 0.08);
    /* 0.08 */
    margin-bottom: 45px;
    padding: 0 140px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center; 
    z-index: 3;
}
.service:hover .preview{
    opacity: 0;
}
.service:hover .info {
    opacity: 1;
}
.preview{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 1;
    transition: 0.2s;
}
.service h3{
    font-size: 75px;
    font-weight: bold;
    text-transform: uppercase;
    
}
.service img{
    height: 180px;
}
.info{
    opacity: 0;
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    width: 970px;
    transition: 0.3s;
}
.bttn{
    border: 2px solid white;
    font-size: 25px;
    font-weight: bold;
    width: 270px;
    padding: 7px 10px;
    text-align: center;
    color: white;
    text-decoration: none;
    margin: 0 auto;
    cursor: pointer;
    z-index: 2;
    /* margin-bottom: 100px; */
    transition: 0.2s;
}
.bttn:hover{
    color: rgb(255, 228, 228);
    border: 2px solid rgb(255, 228, 228);
}
.light1{
    position: absolute;
    top: 0;
    left: 0;
}
.light2{
    position: absolute;
    top: 30%;
    right: 0;
}
@media screen and (max-width: 1150px) {
    .title{
        padding-left: 20px;
    }
    .service{
        padding: 0 30px;
        height: 160px;
    }
    .service h3{
        font-size: calc(10px + 65 * (100vw / 1150));
        font-weight: bold;
        text-transform: uppercase;
    }
    .info{
        font-size: calc(10px + 15 * (100vw / 1150));
        width: 95%;
    }
    .service img{
        height: 120px;
        width: 120px;
    }
    .light2{
        top: 0%;
    }
}
@media screen and (max-width: 680px) {
    .service{
        padding: 0 10px;
    }
    .service img{
        height: 60px;
        width: 60px;
    }
}
@media screen and (max-width: 450px) {
    .title{
        padding-left: 0;
        text-align: center;
    }
    .service img{
        display: none;
    }
    .service .preview{
        justify-content: center;
    }
    .service .preview h3{
        text-align: center;
    }
    .bttn{
        font-size: 16px;
        width: 95%;
        padding: 10px 0;
    }
}